<section class="margin-minus" data-aos="fade-up" data-aos-duration="500">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card py-4 px-3 d-flex" >
                    <div class="d-flex justify-content-center align-items-center">
                        <h3 class="mb-0">Search your Product</h3>
                        <select class="selectdesign form-control ml-3">
              <option selected> Select Category</option>
              <option>2</option>

              <option>3</option>
            </select>
                        <select class="selectdesign form-control ml-1">
              <option selected>Select you gauge</option>
              <option>2</option>

              <option>3</option>
            </select>
                        <button class="searchpro ml-1">
              Search Products
              <img
                class="ml-2"
                src="../../../../assets/images/rightarrow.png"
              />
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="looking mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <div class="text-center">
                    <h3 class="lookingfor" data-aos="fade-up" data-aos-duration="900">What are you Looking For?</h3>
                </div>
            </div>


        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="500">

            <div class="col-md-2 ClildDiv1 productcard" >
                <div class="mb-3">
                    <span class="typetxt">Galvanized</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv2">
                <img src="../../../../assets/images/hover img.png" />
            </div>

            <div class="col-md-2 ClildDiv3 productcard">
                <div class="mb-3">
                    <span class="typetxt">Galvalume</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv4">
                <img src="../../../../assets/images/hover img.png" />
            </div>

            <div class="col-md-2 ClildDiv5 productcard">
                <div class="mb-3">
                    <span class="typetxt">Galvaneneal</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv6">
                <img src="../../../../assets/images/hover img.png" />
            </div>

            <div class="col-md-2 ClildDiv7 productcard">
                <div class="mb-3">
                    <span class="typetxt">Hot Roll</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv8">
                <img src="../../../../assets/images/hover img.png" />
            </div>

            <div class="col-md-2 ClildDiv9 productcard">
                <div class="mb-3">
                    <span class="typetxt">Cold Roll</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv10">
                <img src="../../../../assets/images/hover img.png" />
            </div>

            <div class="col-md-2 ClildDiv11 productcard">
                <div class="mb-3">
                    <span class="typetxt">Electro Galvanized</span>
                    <div class="d-flex justify-content-between mt5">
                        <span class="coiltxt">Steel Coil </span>
                        <img src="../../../../assets/images/light arrow.png" />
                    </div>
                </div>
                <div class="productimg">
                    <img class="w-100" src="../../../../assets/images/steelimg.png" />
                </div>
            </div>

            <div class=" ChildDiv12">
                <img src="../../../../assets/images/hover img.png" />
            </div>
        </div>
        <div class="row my-5" data-aos="fade-up" data-aos-duration="900">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="viewbtn">View All Listings
          <img src="../../../../assets/images/color_arrow.png" />
        </a>
            </div>
        </div>

    </div>
</section>