<app-productfilters></app-productfilters>

<section class="producttable">
  <div class="container">
    <div class="row mt-5 pt-3 mb-4">
      <div class="col-md-12">
        <div class="table-responsive bordergh crochet p-3">
          <table class="table">
            <tr>
              <th>Product ID</th>
              <th>Product</th>
              <th>Quality</th>
              <th>Thickness(in)</th>
              <th>Width(in)</th>
              <th>Weight(lb)</th>
              <th>PIW</th>
              <th>Location</th>
              <th>Coilnumber</th>
              <th>Action</th>
            </tr>
            <tr class="cursor-pointer"
            routerLink="/steel/details"
                routerLinkActive="active"
                
                [queryParams]="{
                  WIDTH_IN: elements.WIDTH_IN + 1 || 'N/A',
                  THICKNESS_IN: elements.THICKNESS_IN + 0.002 || 'N/A',
                  LENGTH_IN: elements.LENGTH_IN || 'N/A',
                  THICKNESS_MM: elements.THICKNESS_MM || 'N/A',
                  WEIGHT_LB: elements.WEIGHT_LB + 1240 || 'N/A',
                  VENDOR: elements.VENDOR || 'N/A',
                  GRADE: elements.GRADE || 'N/A',
                  ROCKWELL: elements.ROCKWELL || 'N/A',
                  YIELD: elements.YIELD || 'N/A',
                  ELONGATION: elements.ELONGATION || 'N/A',
                  TENSILE: elements.TENSILE || 'N/A',
                  PASS_OIL: elements['PASS/OIL'] || 'N/A',
                  FINISH: elements.FINISH || 'N/A',
                  TEMPER: elements.TEMPER || 'N/A',
                  COATING: elements.COATING || 'N/A',
                  C: elements.C || 'N/A',
                  MN: elements.MN || 'N/A',
                  P: elements.P || 'N/A',
                  S: elements.S || 'N/A',
                  SI: elements.SI || 'N/A',
                  AL: elements.AL || 'N/A',
                  CR: elements.CR || 'N/A',
                  NB: elements.NB || 'N/A',
                  TI: elements.TI || 'N/A',
                  CA: elements.CA || 'N/A',
                  N: elements.N || 'N/A',
                  NI: elements.NI || 'N/A',
                  CU: elements.CU || 'N/A',
                  V: elements.V || 'N/A',
                  B: elements.B || 'N/A',
                  LOCATION: elements.LOCATION || 'N/A',
                  TAGNUMBER: elements.TAGNUMBER || 'N/A',
                  QUALITY: elements.QUALITY || 'N/A',
                  COILNUMBER:elements.COILNUMBER || 'N/A',
                  OBJECTID:elements.objectID || 'N/A',
                  PRODUCT:elements.PRODUCT || 'N/A'
                }"
                queryParamsHandling="merge"


            *ngFor="let elements of list">
              <td>TSS{{ elements.objectID }}</td>
              <td>{{ elements.PRODUCT || "N/A" }}</td>
              <td>{{ elements.QUALITY || "N/A" }}</td>
              <td>{{ elements.THICKNESS_IN + 0.002 || "N/A" }}</td>
              <td>{{ elements.WIDTH_IN + 1 || "N/A" }}</td>
              <td>{{ elements.WEIGHT_LB + 1240 || "N/A" }}</td>
              <td>{{ elements.PIW || "N/A" }}</td>
              <td>{{ elements.LOCATION || "N/A" }}</td>
              <td>{{ elements.COILNUMBER || "N/A" }}</td>
              <td>
                <div class="enquiry-btn">
                  <button class="btn" (click)="openDialogenquiry(elements)">Enquiry</button>
                </div>
              </td>
            </tr>
          </table>
          <div id="pagination">
            <ais-pagination></ais-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
