<section class="banner">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="">
          <h3 data-aos="fade-up"
          data-aos-duration="3000"> Privacy Policy</h3>
          <p data-aos="fade-up"
          data-aos-duration="3000" class="">
            EOXS respects each individual’s right to personal
            privacy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="">
                    <div class="About">
                        Privacy Policy
                        <p class="header">The Steel Store respects each individual’s right to personal privacy.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div> -->

  <div class="container">
    <div class="text">
      <div class="row">
        <div class="col-md-5">
          <img class="w-100" src="../../../assets/images/privacy-inter.png" />
        </div>
        <div class="col-md-7">
          <div>
            <h5 data-aos="fade-up"
            data-aos-duration="3000" class="text2">Introduction</h5>
            <p data-aos="fade-up"
            data-aos-duration="3000" class="text3">
              EOXS respects each individual’s right to personal privacy.
              We will collect and use information through our Web site only in
              the ways disclosed in this statement. This statement applies
              solely to information collected at EOXS’s Web sites.
            </p>
            <br />
          </div>
          <div>
            <h5 data-aos="fade-up"
            data-aos-duration="3000" class="text2">Part I. Information Collection</h5>
            <p data-aos="fade-up"
            data-aos-duration="3000" class="text3">
              EOXS collects information through our Web site at several
              points. We collect this information via voluntary forms and do not
              collect any information on visitors involuntarily. To receive our
              products and services, contact information is mandatory so we may
              respond do your request. Other information we request is optional.
            </p>
          </div>
          <br />
          <div>
            <h5 data-aos="fade-up"
            data-aos-duration="3000" class="text2">Part II. Information Usage</h5>
            <p data-aos="fade-up"
            data-aos-duration="3000" class="text3">
              The information collected by EOXS will be used for
              contacting you or subscribing you to our e-newsletter. Users who
              provide their information to the e-newsletter will receive emails
              from us periodically. Out of respect for the privacy of our users
              we present the option to not receive these types of
              communications. The information we collect will be used to create
              customer profiles based on browsing or purchasing history. We will
              supplement information collected at our Web site with data from
              other sources such as credit history to authorize purchases. We
              will not share data with any third parties. We offer links to
              other Web sites. Please note: When you click on links to other Web
              sites, we encourage you to read their privacy policies. Their
              standards may differ from ours.
            </p>
          </div>
          <br />
          <div data-aos="fade-up"
          data-aos-duration="3000" class="row">
            <div class="col-md-12">
              <a class="viewbtn"
                >Load More
                <img src="../../../../assets/images/light arrow.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
