<section class="enquirypopup p-4 text-center">
<div class="closedil" (click)="closedialog()">
    <img src="../../../assets/images/closedialog.png" />
</div>
    <div class="icon pt-2">
        <img src="../../../assets/images/enquiry.png" alt="">
    </div>
    <div class="heading pt-2">
        <h3>
            Enquiry <span>Details</span>
        </h3>
        <p class="des">Send product details</p>
    </div>
    <form class="formmm">
        <div class="py-2">
            <input class="form-control" type="email" placeholder="Email" />
        </div>
        <div class="py-2">
            <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="py-2">
            <input type="text" class="form-control" placeholder="Contact Number" />
        </div>
        <div class="py-3">
            <div class="shortdes px-3">
                Our Sales Repsentative will get back to you 
with pricing ASAP.
            </div>
        </div>
        <div class="py-3">
<button type="submit" class="form-control" >Submit
    <img class="icon" src="../../../assets/images/contact-arrow.png " alt="">
</button>
        </div>
    </form>

</section>