<section class="details-banner">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-12">
        <h3  data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">Galvalume</h3>
        <p  data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"> Steel & Material</p>
      </div>
    </div>
  </div>
</section>

<section class="breadcrum py-5"></section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5"  data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
        <img
          class="w-100"
          src="../../../../assets/images/detailmain.png"
          alt=""
        />
      </div>
      <div class="col-md-7 p-4">
        <div class="px-3">
          <div>
            <h3 class="value-text"  data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">{{data.THICKNESS_IN}}" X {{data.WIDTH_IN}} - {{data.WEIGHT_LB}} lbs</h3>
          </div>
          <div class="row">
            <div class="col-md-4"  data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">
              <div class="d-flex align-items-center py-3 des-icon">
                <div class="mr-3">
                  <img src="../../../../assets/images/pin.png" />
                </div>
                <div  data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500">
                  <p class="text-des mb-0">Lot location</p>
                  <p class="des-name mb-0">{{ data.LOCATION }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4"  data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">
              <div class="d-flex align-items-center py-3 des-icon">
                <div class="mr-3">
                  <img src="../../../../assets/images/tag.png" />
                </div>
                <div  data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500">
                  <p class="text-des mb-0">Tag number</p>
                  <p class="des-name mb-0">{{ data.COILNUMBER }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4"  data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500">
              <div class="d-flex align-items-center py-3 des-icon">
                <div class="mr-3">
                  <img src="../../../../assets/images/shield.png" />
                </div>
                <div  data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="1500">
                  <p class="text-des mb-0">Lot Quality</p>
                  <p class="des-name mb-0">{{ data.QUALITY }}</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div  data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="1500"class="my-5">
              <button class="btn-submit form-control">
                Send Enquiry
                <img
                  src="../../../assets/images/contact-button.png"
                  alt="icon"
                />
              </button>
            </div>

            <div class="detail-tab">
              <mat-tab-group>
                <mat-tab label="Material Details">
                  <div class="py-5">
                    <div>
                      <mat-expansion-panel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Dimension
                          </mat-panel-title>
                          <mat-panel-description>
                            <hr class="w-75" />
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="destext py-3 row"  data-aos="fade-up"
                        data-aos-easing="linear"
                        data-aos-duration="1500">
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>{{data.THICKNESS_IN || 'N/A'}}</span>
                          </div>
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>{{data.THICKNESS_IN || 'N/A'}}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                    <div>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Physical Properties
                          </mat-panel-title>
                          <mat-panel-description>
                            <hr class="w-75" />
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="destext py-3 row"  data-aos="fade-up"
                        data-aos-easing="linear"
                        data-aos-duration="1500">
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>989</span>
                          </div>
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>989</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                    <div>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Chemical Composition
                          </mat-panel-title>
                          <mat-panel-description>
                            <hr class="w-75" />
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="destext py-3 row"  data-aos="fade-up"
                        data-aos-easing="linear"
                        data-aos-duration="1500">
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>989</span>
                          </div>
                          <div class="col-md-5">
                            <label for="">Thickness</label>
                          </div>
                          <div class="col-md-7">
                            <span>989</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Additional Information"> Content 2 </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contactus></app-contactus>
